@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:100,200,300,400,500,600,700|Nunito:100,200,300,400,500,600,700');

/*----------------------------------------------------------------------colors*/

.bg-color-nav-bar {
    background-color: #5e6868;
}

.bg-color-footer{
    background-color: #3e4444;
}


/*-------------------------------------------------------------special padding*/

body {
    background-color: #e6e2d3;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*--------------------------------------------------------------------nav bar*/

.navbar {
    min-height: 90px;
    width:100%;
}

.navbar-default .navbar-nav li a{
    padding-top: 30px;
    color: #ffffff;
    font-family: "Cabin Sketch", sans-serif;
    font-size:20px;
    font-weight: 300;
}

.navbar-default .navbar-nav li a:hover{
    color: #82b74b;
}

.navbar-brand {
    padding-top:20px;
}

/*----------------------------------------------------------------social links*/


.social-links li a i {
    width: 28px;
    height: 28px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 4px;
    text-align: center;
    color: #ffffff;
    background: #a8a599;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #82b74b;
}

/*----------------------------------------------------------------------footer*/

footer {
    min-height: 60px;
    margin: 0;
    padding: 30px 15px 20px 15px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #e6e2d3;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.contact-us a {
    float: right;
    text-decoration: none;
    color: #ffffff;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.contact-us a:hover {
    text-decoration: none;
    color: #82b74b;
}
