@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru:100,200,300,400,500,600,700');
/*----------------------------------------------------------------------colors*/

/*.bg-color-social {*/

/*    background-color: grey;*/

/*}*/

.bg-color-nav-bar {

    background-color: #3e4444;

}

/*.bg-color-section {*/

/*    background-color: red;*/

/*}*/

/*.bg-color-copyright {*/

/*    background-color: green;*/

/*}*/

/*.bg-color-contact-us {*/

/*    background-color: yellow;*/

/*}*/

/*-------------------------------------------------------------special padding*/

body {
    background-color: #e6e2d3;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}


/*--------------------------------------------------------------------nav bar*/

.logo {
    border-radius: 35%;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
}

#nav li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: "Kosugi Maru", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    height: 60px;
}


/*-------------------------------------------------------------------hover.css*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
}

/*----------------------------------------------------------------social links*/

.social-links {
    padding-bottom: 15px;
    float: right;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #b3cccc;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*.social-links li a i:hover {*/

/*    background: #ff6600;*/

/*}*/
